body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.inputs {
  height: 40rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3vw;
}

.grid-size {
  width: 15vw;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  color: rgb(80, 80, 80);
}

button {
  font-size: 1.4rem;
  width: 8rem;
  height: 4rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  background-color: white;
  color: rgb(80, 80, 80);
}

.button-active {
  background-color: rgb(80, 80, 80);
  color: white;
}

.button-size {
  width: 5rem;
  font-size: 0.8rem;
  margin: 0.13rem 0;
}

.gridbox {
  display: grid;
  width: 40rem;
  height: 40rem;
  min-width: 40rem;
  min-width: 40rem;
  margin-left: 3rem;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}

@media (max-width: 1086px) {
  main {
    flex-direction: column;
  }

  button {
    margin: 0.2rem;
  }

  .inputs {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 2rem;
    padding-left: 3rem;
  }

  .buttons {
    display: block;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .grid-size {
    flex-direction: row;
    width: auto;
  }
}
